/* #233639
#BBC1F5
*/

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', open-sans;
}
html,body {
  margin: 0;
  padding: 0;
}

.block1 {
  height:700px;
  text-align: center;
  background: white;
}

form span {
  display: block;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 5px;
  color: #233639;
}

form input {
  width: 320px;
  padding: 10px;
  border-radius: 0;
  border-style: none;
  border: 3px solid #BBC1F5;
}

.block1 img {
  position: relative;
  z-index: 1;
  top: 130px;
  right: 20px;

}

.block1 h1 {
  font-size: 50px;
  color: #233639;
  margin-bottom: 25px;
}

.wrapper {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.wrapper::after {
  content: ' ';
  border-top: 140px solid white;
  border-left: 140px solid transparent;
  border-right: 140px solid transparent;
  position: absolute;
  bottom: -149px;
  left: 38%;
}

.block1 .sign-in {
  float: right;
  max-width: 450px;
  position: relative;
  top: 220px;
  right: 50px;
  text-align: left;
}

.sign-in a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  background-color: #BBC1F5;
  border-radius: 3px;

}

.sign-in a:first-of-type {
  background-color: #233639;
  margin-right: 10px;
}

.block2 {
  height: 500px;
  background-image: url('../images/bg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.block2 {
  color: #fff;
  font-size: 29px;
}

.block2 p {
  padding-top: 220px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.4;

}

.block3 {
  height: 500px;
  color: #fff;
  font-size: 35px;
  text-align: center;
  background-image: url('../images/bg2.jpg');
  background-size: cover;
  background-position: center;

}
.block3 h1 {
  margin-bottom: 20px;
}
.block3 p {
  font-weight: 300;
}

.wrapper2 {
  margin: 0 auto;
  padding-top: 120px;
}

.wrapper2 a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #BBC1F5;
  font-size: 20px;
  border-radius: 3px;
  padding: 25px 85px;
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.wrapper2 a:hover {
  transform: scale(0.9);
}

.block4 {
  height: 300px;
  text-align: center;
  background-image:url('../images/bg4.jpg');
  font-size: 23px;
  color: #233639;
}

.wrapper3 {
  padding-top: 60px;
}

.block4 p {
  font-size: 30px;
  font-weight: 300;
}


.block5 {
  height: 505px;
  width: 100%;
  float: left;
}

.block5 .left {
  float: left;
  background-color: #BBC1F5;
  height: 100%;
  width: 50%;
}

.block5 .text-wrapper {
  max-width: 80%;
  text-align: left;
  color: #fff;
  margin: 120px 0px 0px 190px;
}

.text-wrapper h1 {
  font-size: 45px;
  position: relative;
  margin-bottom: 70px;
}

.block5 .text-wrapper h1::before {
  content: ' ';
  display: block;
  position: absolute;
  height: 5px;
  width: 140px;
  background-color: #fff;
  top: 140px;
}

.text-wrapper p {
  line-height: 1.7;
  font-size: 25px;
  font-weight: 300;

}

.block5 .right {
  float: left;
  width: 50%;
  background-color: blue;
  height: 100%;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  background-position: center;
}


.block6 {
  height: 505px;
  width: 100%;
  float: left;
}

.block6 .right {
  float: left;
  width: 50%;
  height: 100%;
 
}

.block6 .left {
  float: left;
  height: 100%;
  width: 50%;
  background-color: blue;
  background-image: url('../images/img2.jpg');
  background-size: cover;
  background-position: center;
}


.block6 .text-wrapper {
  text-align: left;
  color: black;
  margin: 80px 0px 0px 60px;

}

.block6 .text-wrapper h1 {
  font-size: 45px;
}

.block6 .text-wrapper ul {
  padding-left:20px;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.8;
}

.block5:after, .block6:after {
  
}

.block7 {
  height: 500px;
  width: 100%;
  background-image: url('../images/bg3.jpg');
  background-size: cover;
  background-position: center;
  clear: both !important;

}

.block7 .text-wrapper {
  color: #fff;
  position: relative;
  top: 130px;
  left: 200px;
  display: inline-block;
}


.block7 .text-wrapper h1 {
  position: relative;
}

.block7 .text-wrapper h1::after {
  content: ' ';
  display: block;
  position: absolute;
  height: 5px;
  width: 140px;
  background-color: #fff;
  top: 140px;
}

.block8 {
  height: 420px;
  width: 100%;
  background-color: #32fbed;
  text-align: center;

}

.block8 .container {
  padding-top: 40px;
  color: #fff;
  width: 1200px;
  margin:0 auto;
  height: 100%;

}

.block8 .container h1 {
  display: inline-block;
  position: relative;
  top: -150px;
  font-size: 40px;
  right: 75px;
}
.block8 .container p {
  display: inline-block;
  position: relative;
  top: -110px;
  font-size: 35px;
  text-align: left;
  left: 25px;
}


#num {
  font-size: 60px;
}

.block9 {
  height: 505px;
  width: 100%;
  float: left;
}

.lefty {
  float: left;
  height: 100%;
  width: 50%;
}
.righty {
  float: left;
  height: 100%;
  width: 50%;
  background-image: url('../images/img3.jpg');
  background-size: cover;
  background-position: center;
}

.lefty .text-wrapper {
/*  float: right;
*/  /*position: relative;
  right: 70px;*/
  margin:70px 0px 0px 190px

}

.lefty .text-wrapper h1::after {
    content: ' ';
  display: block;
  position: absolute;
  height: 5px;
  width: 140px;
  background-color: #BBC1F5;
  top: 140px;
}

.lefty .text-wrapper ul {
  padding-left: 20px;
  font-size: 25px;
  font-weight: 300;
  line-height: 2.4;
  margin-bottom: 0;
}

.lefty .text-wrapper li {
  padding-left: 15px;
  list-style: none;
  position: relative;
}

.lefty .text-wrapper li::before {
  content: '\2022';
  position: absolute;
  left: -20px;
  font-size: 40px;
  top: -20px;
}

.last-block {
  height: 350px;
  width: 100%;
  background-color: #f6f6f3;
  clear: both;
  text-align: center;
}

.container-sign {
  padding-top: 60px;
}
.container-sign input {
  width: 550px;
  padding: 20px;
  border-color: #e9ebeb;
  font-size: 20px;
}

.container-sign h1 {
  font-size: 40px;
  letter-spacing: 1px;
}

.container-sign a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 72px;
  margin-top: 15px;
  font-size: 20px;
  color: white;
  background-color: #BBC1F5;
  border-radius: 3px;
}

.container-sign a:first-of-type {
  background-color: #233639;
  margin-right: 10px;
}























































